archive/python-legacy/examples/n8n-loxone-workflow.json
{
  "name": "Loxone MCP Control Example",
  "nodes": [
    {
      "parameters": {},
      "id": "e8c5e5d5-5f5f-4c5f-8f5f-5f5f5f5f5f5f",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/messages/",
        "method": "POST",
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "{\n  \"method\": \"list_rooms\",\n  \"params\": {},\n  \"id\": 1\n}",
        "options": {}
      },
      "id": "f9d6f6e6-6g6g-5d6g-9g6g-6g6g6g6g6g6g",
      "name": "List Rooms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/messages/",
        "method": "POST",
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={\n  \"method\": \"control_room_lights\",\n  \"params\": {\n    \"room\": \"{{ $json.result[0].name }}\",\n    \"action\": \"toggle\"\n  },\n  \"id\": 2\n}",
        "options": {}
      },
      "id": "a7b8c9d0-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Toggle First Room Lights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/messages/",
        "method": "POST", 
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={\n  \"method\": \"get_room_devices\",\n  \"params\": {\n    \"room\": \"{{ $('List Rooms').item.json.result[0].name }}\"\n  },\n  \"id\": 3\n}",
        "options": {}
      },
      "id": "b8c9d0e1-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Get Room Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 480]
    },
    {
      "parameters": {
        "functionCode": "// Extract room names\nconst rooms = $input.first().json.result.map(room => ({\n  name: room.name,\n  uuid: room.uuid\n}));\n\nreturn rooms;"
      },
      "id": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Extract Room Names",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 480]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "List Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Rooms": {
      "main": [
        [
          {
            "node": "Toggle First Room Lights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Room Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Room Devices": {
      "main": [
        [
          {
            "node": "Extract Room Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "loxone-mcp-example"
  },
  "tags": []
}
